<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Backpack</title>
  <link rel="icon" href="/static/img/transparent.png">
	<link rel="stylesheet" href="/static/css/frontend/product.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
      $(".wrapper").toggleClass("collapse");
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
</head>
<body>

<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">Backpack</div>
      <div><img src="/static/img/frontend/logo.png" alt="logo"></div>
      <ul>
        <li><a href="/home/search/">
          <i class="fas fa-search"></i></a></li>
        <li><a href="#">
          <i class="fas fa-receipt"></i>
          </a></li>
        <li><a href="/home/mypage/">
          <i class="fas fa-user"></i>
          </a></li>
      </ul>
    </div>
  </div>

  <div class="sidebar">
      <ul>
        <li><a href="/home/">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="title">Home</span></a></li>
      
        <li><a href="/home/recommendation/">
          <span class="icon"><i class="far fa-thumbs-up"></i></span>
          <span class="title">Recommendation</span>
          </a></li>
        <li><a href="/home/schedule/">
          <span class="icon"><i class="fas fa-table"></i></span>
          <span class="title">Timetable</span>
          </a></li>
        <li><a href="/home/transaction/">
          <span class="icon"><i class="fas fa-comments-dollar"></i></span>
          <span class="title">Sell Books</span>
          </a></li>
    </ul>
  </div>

  <div class="main_container">
    <div class="left">
        <img src={{ img }} alt="user" width="300px">
        <h4 id = pname >{{ pname }}</h4>
         <p></p>

    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Price</h4>
                    <p>₩{{ price }}</p>
                 </div>
                 <div class="data">
                   <h4>Phone Number</h4>
                    <p>{{ pN }}</p>
              </div>
            </div>
        </div>
      
      <div class="projects">
            <h3>Category</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Category</h4>
                    <p>{{ category }}</p>
                 </div>
                 <div class="data">
                   <h4>Seller</h4>
                    <p>{{ uname }}</p>
              </div>
            </div>
      </div>

      <div class="post">
        <h3>Description</h3>
        <div class="post_data">
             <div class="data">
                <h4>Title</h4>
                <p class="title" id="title" type="text">{{ title }}</p>
             </div>
             <div class="data">
               <h4>Content</h4>
               <p class="content" id="content">{{ content }}</p>
          </div>
        </div>
      </div>

      <div class="social_media">
        <ul>
          <li style="display:{{ is_seller|yesno:'inline-block,none' }};float:right;"><a href="/home/product/update/{{ post_id }}"><i class="fas fa-edit"></a></i></li>
        </ul>
      </div>
      <div class="projects">
        <h3>Recommend Items</h3>
            <div id="recommend_item" >

            </div>
      </div>

      
    </div>
  </div>
</div>

<script src="/static/scripts/frontend/product.js"></script>
</body>
</html>
