<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Board</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>
        <div class="popup" id="pop1">
            <h1 align="center">사물함 리스트</h1>
            <table class="locker">
				<table class="title">
					<tr>
						<th width="20%" align="center">번호</th>
						<th width="20%" align="center">사물함상태</th>
						<th width="40%" align="center">사물함위치</th>
						<th width="20%" align="center">선택여부</th>
                    </tr>
                </table>
                <div style="width:100%; height:300px; overflow-y:auto;">
                <table class="title_locker">
                    <tr>
                        <!-- <td width="20%" align="center">01</td>
                        <td width="20%" align="center">사용가능</td>
                        <td width="40%" align="center">성균관대</td>
                        <td width="20%" align="center"><input type="radio" name="locker_status_check"></td> -->
                    </tr>
                </table>
                </div>
            </table>
            <a href="#a">닫기</a>
        </div>
        <div class="dim"></div>
        <div class="main">
            <section id="wrap">
            <div class="aside">
                <nav>
                <strong class="board_recommand_ad" id="board_recommand_ad"></strong>
                <h1 align="center" style="font-style: normal; color: seashell;">추천 상품 리스트</h1>
                    <ul>
                        <li id="board_recommend_book"></li>
                        <li id="board_recommend_author"></li>
                        <li id="board_recommend_publisher"></li>
                        <li id="board_recommend_prof"></li>
                        <li id="board_recommend_lec"></li>
                    </ul>
                </nav>
            </div>
                    
            <div class="board-page">
                <div class="board">
                    <h1>상품 상세페이지</h1>
                    <div class="board-category">
                        <ul>
                                <label><input type="radio" name="category" value="majorbook">전공책</label>
                                <label><input type="radio" name="category" value="stationery">문구류</label>
                                <label><input type="radio" name="category" value="electronics">전자제품</label>
                                <label><input type="radio" name="category" value="clothes">의류제품</label>
                                <label><input type="radio" name="category" value="etc">기타제품</label>
                        </ul>
                    </div>
                    <div align="left" id="board_hit">조회수<%=data.hit%></div>
                    <div align="right">작성자 <%= data.author %></div>
                    <div align="right">전화번호 <%= data.tel %></div>
                    <div align="right">가격<%=data.price %></div>
                    <ul>
                        <td width="70" id="board_img" align="center">이미지 첨부</td>
                        <td align="left" width="330">
                            <input type="file" id="reportFile" name="reportFile"></td>
                        </ul>
                    <div align="left"><input onclick="btn_board_status()" type="button" value="판매중" id="board_status"></input></div>
                    <div class="board-form">
                        <input id="bid" type="hidden" value="<%=data.bid%>"/>
                        <input id="board_title" type="text" value="<%=data.title%>"/>
                        <textarea id="board_content" rows="10"><%=data.content%></textarea>
                    </div>
                    <div align="right">
                        <!-- <button id="btn_board_locker" onclick="showPopup();">사물함 리스트</button> -->
                        <a href="#pop1" class="btn" onclick="get_locker_list();">사물함리스트</a>

                        <!-- <div class="dim"></div> -->
                        <button id="btn_board_update">수정</button>
                        <button id="btn_board_delete">삭제</button>
                        <button id="btn_board_list">목록</button>
                    </div>
                </div>
                
            </div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/static/scripts/board.js"></script>
    </section>
    </div>
	</body>
</html>