<link rel="stylesheet" href="/static/css/schedule/workout.css">
<div class="cd-schedule-modal__event-info" id="popup_index" >
    <h1 align="center">강의 상세정보</h1>
    <table id="lec_head" align="center">
      <th>강의이름</th>
      <th>담당 교수</th>
      <th>강의 시작시간</th>
      <th>강의 종료시간</th>
      <th>해당 전공서적</th>
    </table>
    <table id="lec_detail" align="center">
      <th>강의이름</th>
      <th>담당 교수</th>
      <th>강의 시작시간</th>
      <th>강의 종료시간</th>
      <th>해당 전공서적</th>
    </table>

    <a href="#a">닫기</a>
</div>