<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="/static/css/schedule/style.css">
  <title>Schedule</title>
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <style>
    .margin-top-md a{
      font-size: 50px;
      color : Black
    }
  </style>
</head>
<body>
  <!-- <script src="/static/scripts/schedule/main.js"></script> -->
  <script src="/static/scripts/schedule/util.js"></script>
  <header class="cd-main-header text-center flex flex-column flex-center">
    <p class="margin-top-md"> <a class="cd-article-link" > TimeTable 👈</a></p>

    <!-- <h1 class="text-xl">Schedule</h1> -->
  </header>

  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
    <div class="cd-schedule__timeline">
      <ul>
        <li><span>09:00</span></li>
        <li><span>09:30</span></li>
        <li><span>10:00</span></li>
        <li><span>10:30</span></li>
        <li><span>11:00</span></li>
        <li><span>11:30</span></li>
        <li><span>12:00</span></li>
        <li><span>12:30</span></li>
        <li><span>13:00</span></li>
        <li><span>13:30</span></li>
        <li><span>14:00</span></li>
        <li><span>14:30</span></li>
        <li><span>15:00</span></li>
        <li><span>15:30</span></li>
        <li><span>16:00</span></li>
        <li><span>16:30</span></li>
        <li><span>17:00</span></li>
        <li><span>17:30</span></li>
        <li><span>18:00</span></li>
        <li><span>18:30</span></li>
        <li><span>19:00</span></li>
        <li><span>19:30</span></li>
        <li><span>20:00</span></li>
        <li><span>20:30</span></li>
        <li><span>21:00</span></li>
        <li><span>21:30</span></li>
        <li><span>22:00</span></li>
      </ul>
    </div> <!-- .cd-schedule__timeline -->
  
    <div class="cd-schedule__events">
      <ul>
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Monday</span></div>
  
          <ul class="Monday">
            <!-- <li class="cd-schedule__event">
              <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Abs Circuit</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Rowing Workout</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="14:00" data-end="15:15"  data-content="event-yoga-1" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Yoga Level 1</em>
              </a>
            </li> -->
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Tuesday</span></div>
  
          <ul class="Tuesday">
            <!-- <li class="cd-schedule__event">
              <a data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Rowing Workout</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="11:30" data-end="13:00"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Restorative Yoga</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="13:30" data-end="15:00" data-content="event-abs-circuit" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Abs Circuit</em>
              </a>
            </li> -->
  
            <!-- <li class="cd-schedule__event">
              <a data-start="15:45" data-end="21:45"  data-content="event-yoga-1" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Yoga Level 1</em>
              </a>
            </li> -->
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Wednesday</span></div>
  
          <ul class="Wednesday">
            <!-- <li class="cd-schedule__event">
              <a data-start="09:00" data-end="10:15" data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Restorative Yoga</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="10:45" data-end="11:45" data-content="event-yoga-1" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Yoga Level 1</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="12:00" data-end="13:45"  data-content="event-rowing-workout" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Rowing Workout</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="13:45" data-end="15:00" data-content="event-yoga-1" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Yoga Level 1</em>
              </a>
            </li> -->
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Thursday</span></div>
  
          <ul class="Thursday">
            <!-- <li class="cd-schedule__event">
              <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Abs Circuit</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="12:00" data-end="13:45" data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Restorative Yoga</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Abs Circuit</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="17:00" data-end="18:30"  data-content="event-rowing-workout" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Rowing Workout</em>
              </a>
            </li> -->
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Friday</span></div>
  
          <ul class="Friday">
            <!-- <li class="cd-schedule__event">
              <a data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Rowing Workout</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="12:30" data-end="14:00" data-content="event-abs-circuit" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Abs Circuit</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Yoga Level 1</em>
              </a>
            </li> -->
          </ul>
        </li>
      </ul>
    </div>
  
    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>
  
        <div class="cd-schedule-modal__header-bg"></div>
      </header>
  
      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>
  
      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>
  
    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->
  <script src="/static/scripts/schedule/main.js"></script>
  <script src="/static/scripts/schedule/util.js"></script>
  
</body>
<script>
  var course_list = JSON.parse("{{course_list}}");
  console.log(course_list.length)
  for(var i in course_list){
    console.log(i);

    $.ajax({
      url : '/rest/courses/' + course_list[i] + '/',
      method:'GET',
      dataType:'json',
      async:false,
      error : function(error) {
        alert("Error!");
      },
      success:function(data){
        var course_id = data.id;
        var c_number = data.c_number;
        var cname = data.cname;
        var prof = data.professor;
        var first_time = data.first_time;
        var second_time = data.second_time;
        var first_end, second_end;
        var week = data.week;
        var cnt = 2;
        var daydict = {"월" : "Monday", "화" : "Tuesday", "수" : "Wednesday", "목" : "Thursday", "금" : "Friday"};
        var weeka = daydict[week[0]];
        var weekb = daydict[week[2]];
        cnt = 1;
        a = first_time.split(":");
        
        f1 = a[0];
        f2 = a[1];
        if(second_time=="null"){
          f2 = int(f2) + 45
          if(f2 > 59){
            f2 = f2 % 60;
            f1 = parseInt(f1) + 3;
          }else{
            f1 = parseInt(f1) + 2
          }
          first_end = f1 + ':' + f2;
        }else{
          cnt = 2
          f1 = parseInt(f1) + 1;
          f2 = parseInt(f2) + 15;  
          first_end = f1 + ':' + f2;
          a = second_time.split(":");
          f1 = a[0];
          f2 = a[1];
          f1 = parseInt(f1) + 1;
          f2 = parseInt(f2) + 15;  
          second_end = f1 + ':' + f2;
        }
        for(var i = 0; i < cnt; i++){
          if(i == 0) {
            weekday = weeka;
            start_time = first_time;
            end_time = first_end;
          }
          else{
            weekday = weekb;
            start_time = second_time;
            end_time = second_end;
          }
          var ul_list = document.getElementsByTagName('ul');
          var ul;
          for (var j = 0 ; j < ul_list.length ; j++) {
            if(ul_list[j].className == weekday)
              ul = ul_list[j];
          };
          var datacontent="event-rowing-workout"; 
				  var dataevent="event-" + ((i % 4)+1);
          var li = document.createElement('li');
          var a = document.createElement('a');
          a.setAttribute('data-start',start_time);
          a.setAttribute('data-end',end_time);
          a.setAttribute('course_id', course_id);
          a.setAttribute('c_number', c_number);
          a.setAttribute('data-content', cname);
          a.setAttribute('data-event', dataevent);
          a.setAttribute('professor', prof);
          var em = document.createElement('em');
          em.className = "cd-schedule__name";
          em.innerHTML = cname;
          a.appendChild(em);
          li.appendChild(a);
          ul.appendChild(li);
          li.className = "cd-schedule__event";
          console.log(li)
        }
      }			
    })
  }
</script>